/* .form-control {
  border-radius: 0px !important;
}

input, select, option, button {
  border-radius: 0px !important;
} */
/* 
div {
  margin: 0px !important;
  padding: 0px !important;
} */

/* .input-group-text {
  border-radius: 0px !important;
  margin: 0px !important;
  padding: 0px 0px 0px 10px !important;
}

.card {
  margin-top: 25px !important;
  border-radius: 0px !important;
}

.App {
  margin-bottom: 100px !important;
} */
/* 
div.fade.in.modal {
  display: flex !important;
}

.modal-dialog {
  margin: 10% auto auto auto !important;
  padding: 0px !important;
}

.modal-content {
  width: 500px !important;
}

textarea {
  margin: 5px !important;
} */
